.main-navbar {
  color: white;
  position: relative;
  box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
  a.navbar-brand {
    color: white;
  }

  .nav-link {
    color: white;
  }
  .nav-item > a {
      text-decoration: none;
  }
  .cart-icon {
    position: relative;
    margin-right: 20px;
    a.icon-cart {
      background: none;
      border: none;
      padding: 0 10px;
      position: relative;

      i {
        font-size: 16px;
      }
    }

    .item-count {
      position: absolute;
      background: black;
      width: 15px;
      height: 15px;
      right: 0;
      top: 10px;
      display: flex;
      justify-content:center;
      align-items:center;
      border-radius: 15px;

      span.count-style {
        display: block;

        font-size: 12px;
      }
    }
  }
}

.semi-nav {
  &-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    height: 44px;
    background: linear-gradient(
      90deg,
      $main-color 11.98%,
      $yellow 77.6%,
      $som 100%
    );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .semi-nav-link {
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        overflow: hidden;
        display: flex;
        gap: 10px;
        & > li > a {
          color: white;
          text-decoration: none;

          &:first-child {
            padding-left: 25px;
          }
        }
      }
    }
    .semi-nav-store-name {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      p {
        margin: 0;
        color: white;
      }
    }

    .semi-nav-form {
      position: relative;
      width: 200px;
      input {
        width: 100%;
        border: none;
        padding-left: 13px;
        font-size: 14px;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0 20px 20px 0;
        height: 44px;
        color: black !important;

        &:focus{
          outline: none;
        }
      }

      button {
        position: absolute;
        z-index: 222;
        top: 50%;
        right: 10px;
        transform: translate(0, -50%);
        background: none;
        border: none;

        i {
          color: black !important;
        } 
      }
    }
  }
}
